
<h4>Create New Product</h4>
<form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Publication Title" formControlName="titre" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Type" formControlName="type" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Publication Date</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="dateApparition" required>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Source" formControlName="sourcePdf" required>
  </mat-form-field>
  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
  </div>
</form>
